<form
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="bank">Ngân hàng thụ hưởng</label>
    <select
      type="text"
      class="form-control"
      name="bank"
      [(ngModel)]="form.bank"
      required
      #bank="ngModel"
    >
      <input
        type="text"
        [(ngModel)]="searchKey"
        name="searchKey"
        placeholder="Điền tên ngân hàng tìm cho nhanh"
      />
      <option *ngFor="let bankdata of bankdatas" [value]="bankdata.bin">
        {{ bankdata.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="accountNumber">Số tài khoản</label>
    <input
      type="text"
      class="form-control"
      name="accountNumber"
      [(ngModel)]="form.accountNumber"
      required
      #accountNumber="ngModel"
    />
  </div>

  <div class="form-group">
    <label for="accountName">Tên người thụ hưởng</label>
    <input
      type="text"
      class="form-control"
      name="accountName"
      [(ngModel)]="form.accountName"
      required
      #accountName="ngModel"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" (click)="onSubmit()">
      Tạo mã
    </button>
  </div>
</form>
<div *ngIf="qrIsReady">
  <img src="{{ srcImage }}" alt="qrcode" />
</div>
