<div class="row">
  <div class="col-md-12 text-center">
    <h2>Update Student</h2>
  </div>
</div>

<div class="row " >
  <form [formGroup]="updatedStudent" novalidate class="form">
    <div class="row ">
      <div class="col-md-2"></div>
      <div class="col-md-4 ">MSSV</div>
      <div class="col-md-4"><input type="number" formControlName="mssv" ></div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4"> Name</div>
      <div class="col-md-4"><input type="text" formControlName="name" ></div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">Class</div>
      <div class="col-md-4"><input type="text" formControlName="class" ></div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">Email</div>
      <div class="col-md-4"><input type="text" formControlName="email" ></div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">Status</div>
      <div class="col-md-4"><input type="text" formControlName="status" ></div>
      <div class="col-md-2"></div>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"><button type="submit" (click)="onSubmit()" class="btn btn-success">Update Student </button></div>
      <div class="col-md-2"></div>
    </div>


  </form>
</div>

<div class="row">
  <a href="student/list" class="btn-link center"> Cancel</a>
</div>
