.search-field{
  /* this class is for input field, if in your code its different, just substitute the class name '.search-field' */
      padding: 10px 15px;
      width: 500px;
      font-size: 1rem;
      line-height: 1.5em;
      color: #373D41;
      background-color: #FFF;
      background-clip: padding-box;
      border: 1px solid #C5C5C7;
      border-radius: 6px;
      -webkit-box-shadow: none;
      box-shadow: none;
      flex-grow: 1;
      margin-left: 550px;

      margin-top: 50px;
      margin-bottom: 20px;

  }
