
  <nz-layout class="app-layout" >
    <nz-sider
      *ngIf="isLogin"
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <div class="sidebar-logo" >
        <img
        src="data:image/{{user.avatar.mime}};base64,
                {{user.avatar.data}}"
      />
          <h1>{{user.email}}</h1>
      </div>
      <ul
        nz-menu
        nzTheme="dark"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/student/list">Danh sách sinh viên</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/score/list">Quản lí điểm </a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/post/list">Đăng thông báo </a>
            </li>
          </ul>
    </nz-sider>
    <nz-layout>
      <nz-header  *ngIf="isLogin">
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
          </span>
          <button class="logout-button" (click)="buttonClicked()">
            Sign out
          </button>
        </div>
      </nz-header>
      <nz-content>
        <h2 *ngIf="!isLogin" style="margin-top: 10%; margin-left: 35%;">Đăng nhập để sử dụng hệ thống QLSV</h2>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>

    </nz-layout>
  </nz-layout>




