<nz-layout class="app-layout">
  <nz-sider
    *ngIf="isLogin"
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="assets/images/{{ user.imageId }}" />
      <h1>{{ user.name }}</h1>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item nzMatchRouter *ngIf="isAdmin">
        <a routerLink="/student/list">Danh sách sinh viên</a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="isAdmin">
        <a routerLink="/score/list">Quản lí điểm </a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="isAdmin">
        <a routerLink="/post/add">Đăng thông báo </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/post/list">Thông báo </a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="isStudent">
        <a routerLink="/myinfo">Thông tin cá nhân </a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="isSystemAdmin">
        <a routerLink="/sysadmin/account/list">Danh sách tài khoản </a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="isSystemAdmin">
        <a routerLink="/score/statistic">Thống kê điểm</a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="isSystemAdmin">
        <a routerLink="/sysadmin/account/add">Tạo tài khoản </a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="isSystemAdmin">
        <a routerLink="/score/edit">Chỉnh sửa điểm </a>
      </li>
    </ul>
    <button class="logout-button" (click)="buttonClicked()">Sign out</button>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="isLogin">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <h2 *ngIf="!isLogin" style="margin-top: 5%; margin-left: 35%">
        Đăng nhập để sử dụng hệ thống QLSV
      </h2>
      <div class="inner-content" id="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
