<section class="blog-me pb-100" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 mx-auto text-center">
        <div class="section-title mb-100">
          <h4>Thông báo</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let post of posts">
        <!-- Single Blog -->
        <div class="single-blog">
          <div class="blog-img">
            <img src="data:image/jpg;base64,{{ post.avatar }}" alt="" />
          </div>
          <div class="blog-content">
            <div class="blog-title">
              <h4>{{ post.tittle }}</h4>
              <div class="meta">
                <ul>
                  <li>
                    {{ post.date | date : "dd/MM/yyyy" }}
                  </li>
                </ul>
              </div>
            </div>
            <p>
              {{ post.author }}
            </p>
            <a href="/post/{{ post._id }}" class="box_btn">chi tiết</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
