<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="title"
            [(ngModel)]="form.tittle"
            placeholder="Nhập tiêu đề"
          />
        </div>

        <div class="form-group">
          <label> Image </label>
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-primary btn-file">
                Browse
                <input
                  type="file"
                  name="image"
                  (change)="onFileSelected($event)"
                />
              </span>
            </span>
            <input
              type="text"
              class="form-control"
              [value]="file ? file.name : ''"
              placeholder="Tải ảnh lên"
              readonly
            />
          </div>
        </div>
        <div class="form-group">
          <angular-editor
            name="content"
            [placeholder]="'Enter text here...'"
            [config]="config"
            [(ngModel)]="form.content"
          ></angular-editor>
        </div>
        <div class="form-group">
          <button (click)="onSubmit()" class="btn btn-primary form-control">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div>{{ form.content }}</div>
